doctype html
html
	head
		meta(charset='utf-8')
		title Cookiezi Fanpage

		style.
			body {
				background-image: url(/sites/cookiezi/img/bg.jpg);
			}

			#container {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				left: 0px;
				background-color: rgba(255,255,255,0.8);
				overflow: auto;
			}

	body
		div#container
			marquee
				h1 COOKIEZI FAN SITE
			center
				img(src='img/ss-1.jpg', height='400')
				| &nbsp;
				img(src='img/ss-2.png', height='400')
				div(style='border: 5px dotted #93C; width: 50%;')
					h2 ONLY THOSE WHO TRULY BELIEVE IN THE RETURN OF COOKIEZI
					h3 MAY ENTER THIS SITE
				hr
				p
					iframe(width="560", height="315", src="https://www.youtube.com/embed/-b1kagnJb0M", frameborder="0", allowfullscreen)
					| &nbsp;
					iframe(width="560", height="315", src="https://www.youtube.com/embed/qdaZnQQAPqQ", frameborder="0", allowfullscreen)
				p
					iframe(width="560", height="315", src="https://www.youtube.com/embed/R0mp-giu3WY", frameborder="0", allowfullscreen)
					| &nbsp;
					iframe(width="560", height="315", src="https://www.youtube.com/embed/YhOt5shAGjw", frameborder="0", allowfullscreen)