extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					center
						div(class='jumbotron page-title')
							h1 About
			section(id='page2')
				div(class='page-container')
					div(class='page-header')
						h2 FAQ
					div(class='well')
						p
							a(name='faq-hacking')
							b
								a(href='#faq-hacking', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;What are we hacking? Is this legal?<br />
							| Nooooo we're not hacking banks and stealing credit cards like you might see in those Hollywood movies. In fact, we're trying to destroy that stereotype and create an entirely different one here. 
						p
							a(name='faq-background')
							b
								a(href='#faq-background', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Do I need to have background knowledge in computer science or experience in other CTFs?<br />
							| Not at all! This is a CTF designed to introduce new hackers to concepts commonly found in most other computer security competitions.
						p
							a(name='faq-where')
							b
								a(href='#faq-where', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Where will this competition be held?<br />
							| On the internet! It will be held on this website. The competition will be held from November 29, 2014 to December 6, 2014.
						p
							a(name='faq-prizes')
							b
								a(href='#faq-prizes', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Are there prizes?<br />
							| The most important prize you'll receive from this competition is that you have learned new things! If you're concerned about physical prizes, they have not been decided as of yet but <i>may</i> include small prizes or sums of money. This is subject to change at any time.
			section(id='page3')
				div(class='page-container')
					div(class='page-header')
						h2 Rules
					div(class='well')
						ol
							li Don't attack the score server. <br />
							li Don't attack other teams. <br />
							li Don't share flags. <br />
							li Don't get direct assistance from people not in your team. <br /><i>Note: looking up information on the Internet is encouraged!</i>
			section(id='page4')
				div(class='page-container')
					div(class='page-header')
						h2 Credits
					div(class='well')
						p EasyCTF is brought to you by a small team of high school students from <a href="http://d125.org" target="_blank">Adlai E. Stevenson High School</a>. Here's some info about our members:
						ul
							li
								h4
									a Devin Deng
								i [placeholder content]
							li
								h4
									a Emily Leng
								i [placeholder content]
							li
								h4
									a Emery Liu
								i [placeholder content]
							li
								h4
									a Michael Zhang
								i [placeholder content]
						p Some other entities were also involved in the creation of this project, and we'd like to thank them here as well.
						ul
							li
								h4
									a Mr. Gammelgaard
								i [placeholder content]
							li
								h4
									a picoCTF
								i [placeholder content]
							li
								h4
									a HSCTF
								i [placeholder content]
							li
								h4
									a CSAW CTF
								i [placeholder content]
			section(id='page5')
				div(class='page-container')
					div(class='page-header')
						h2 Contact
					div(class='well')
						p.
							Is something wrong with the competition? Do you need help or have a question? Are you just really really bored? You can contact us in the following ways:
						p.	h3 Email
							You can email us at <a href="mailto:1023bytes@gmail.com" target="_blank">1023bytes@gmail.com</a>
						p.	h3 Facebook
							Shoot us a message at our <a href="http://facebook.com/easyCTF" target="_blank">Facebook Page</a>.
						p.	h3 IRC
							Head over to the <a href="javascript:void(0);" target="_blank">chat room</a> to discuss anything you need in real time.
			section(id='page6')
				div(class='page-container')
					div(class='page-header')
						h2 Source
					div(class='well')
						p.
							After the competition is over, a more generic version of this website will be released on Github where it can be used by other people who want to use this type of competition website on a node.js server.