extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					center
						div(class='jumbotron page-title')
							h1 About
			section(id='page2')
				div(class='page-container')
					div(class='page-header')
						h2 FAQ
					div(class='well')
						p.
							<b>Do I need to have background knowledge in computer science or experience in other CTFs?</b> <br />
							Not at all! This is a CTF designed to introduce new hackers to concepts commonly found in most other computer security competitions.
						p.
							<b>Where will this competition be held?</b> <br />
							On the internet! It will be held on this website. The competition dates are still tentative, probably taking place at the end of November 2014.
						p.
							<b>Are there prizes?</b> <br />
							The most important prize you'll receive from this competition is that you have learned new things! If you're concerned about physical prizes, they have not been decided as of yet but <i>may</i> include small prizes or sums of money. This is subject to change at any time.
			section(id='page3')
				div(class='page-container')
					div(class='page-header')
						h2 Rules
					div(class='well')
						ol
							li Don't attack the score server. <br />
							li Don't attack other teams. <br />
							li Don't share flags. <br />
							li Don't get direct assistance from people not in your team. <br /><i>Note: looking up information on the Internet is encouraged!</i>
			section(id='page4')
				div(class='page-container')
					div(class='page-header')
						h2 About Our Team
					div(class='well')
						p.
							EasyCTF is brought to you by a team of 6 highschool students. Here's some info about our members:
			section(id='page5')
				div(class='page-container')
					div(class='page-header')
						h2 Contact
					div(class='well')
						p.
							Is something wrong with the competition? Do you need help or have a question? Are you just really really bored? You can contact us in the following ways:
						p.	h3 Email
							You can email us at <a href="mailto:1023bytes@gmail.com" target="_blank">1023bytes@gmail.com</a>
						p.	h3 Facebook
							Shoot us a message at our <a href="http://facebook.com/easyCTF" target="_blank">Facebook Page</a>.
						p.	h3 IRC
							Head over to the <a href="javascript:void(0);" target="_blank">chat room</a> to discuss anything you need in real time.
			section(id='page6')
				div(class='page-container')
					div(class='page-header')
						h2 Credits
					div(class='well')
						p.
							We'd like thank everyone who has helped us so far. If you think you should be on this list, please let us know!
						ol
							li <a href="http://picoctf.com/" target="_blank">picoCTF</a> - High school CTF by Carnegie Mellon <br />
							li <a href="http://hsctf.com/" target="_blank">HSCTF</a> - High school CTF by high school students <br />
							li <a href="https://ctf.isis.poly.edu/" target="_blank">CSAW CTF</a> - Collegiate CTF by NYU <br />
							li <a href="javascript:void(0);">Mr. Gammegaard</a> - Computer Science club sponsor
								