extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					center
						div(class='jumbotron page-title')
							h1 About
			section(id='page2')
				div(class='page-container')
					div(class='page-header')
						h2 FAQ
					div(class='well', id='faq')
						p
							a(name='faq-hacking')
							h4
								a(href='#faq-hacking', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;What are we hacking? Is this legal?<br />
							| Nooooo we're not hacking banks and stealing credit cards like you might see in those Hollywood movies. In fact, we're trying to destroy that stereotype and create an entirely different one here, even though some challenges may ask you to "hack" into different things by utilizing vulnerabilities.
						p
							a(name='faq-background')
							h4
								a(href='#faq-background', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Do I need to have background knowledge in computer science or experience in other CTFs?<br />
							| Not at all! This is a CTF designed to introduce new hackers to concepts commonly found in most other computer security competitions.
						p
							a(name='faq-where')
							h4
								a(href='#faq-where', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Where will this competition be held?<br />
							| On the internet! It will be held on this website. The competition will be held from November 29, 2014 to December 6, 2014.
						p
							a(name='faq-practice')
							h4
								a(href='#faq-practice', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;How can I practice?<br />
							| We have plenty of resources at the <a href="/learn">Learn</a> page, and there is an entire Internet of resources and practice sets that you can use.
						p
							a(name='faq-prizes')
							h4
								a(href='#faq-prizes', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;Are there prizes?<br />
							| The most important prize you'll receive from this competition is that you have learned new things! If you're concerned about physical prizes, they have not been decided as of yet but <i>may</i> include small prizes or small sums of money. This is subject to change at any time.
						p
							a(name='faq-after')
							h4
								a(href='#faq-after', title='Permalink')
									span.glyphicon.glyphicon-link
								| &nbsp;&nbsp;What happens after the competition?<br />
							| After the competition is over, a more generic version of this website will be released on Github where it can be used by other people who want to use this type of competition website on a node.js server.
			section(id='page3')
				div(class='page-container')
					div(class='page-header')
						h2 Rules
					div(class='well')
						ol
							li
								h1
									span(class='tooltipped', data-toggle='tooltip', data-placement='right', title='Lots of people seem to forget this one') USE COMMON SENSE
							li Don't attack the score server. <br />
							li Don't attack other teams. <br />
							li Don't share flags. <br />
							li Don't get direct assistance from people not in your team. <br /><i>Note: looking up information on the Internet is encouraged!</i>
			section(id='page4')
				div(class='page-container')
					div(class='page-header')
						h2 Our Team
					div(class='well')
						p EasyCTF is brought to you by a small team of high school students from <a href="http://d125.org" target="_blank">Adlai E. Stevenson High School</a>. Here's some info about our members:
						ul
							li
								h4
									a(href='/profile/54386b4525de4502005fc5db') Devin Deng
								i [placeholder content]
							li
								h4
									a(href='/profile/542b1bb975d61c02007c28ba') Emily Leng
								i [placeholder content]
							li
								h4
									span Emery Liu
								i [placeholder content]
							li
								h4
									a(href='/profile/54123135fa742f9c0d9221d0') Michael Zhang
								i [placeholder content]
						
			section(id='page5')
				div(class='page-container')
					div(class='page-header')
						h2 Other Important People
					div(class='well')
						p Some other entities were also involved in the creation of this project, and we'd like to thank them here as well.
							ul
								li
									h4
										<a href="javascript:void(0);">Mr. Gammelgaard</a>
								li
									h4
										a(href='/profile/5436fde8757f8f02004a872a') Austin Zhou
								li
									h4
										a(href='/profile/542b86fbd4220302002cb546') Carter Feldman
			section(id='page5')
				div(class='page-container')
					div(class='page-header')
						h2 Other CTFs
					div(class='well')
						p We could not have created, or even had the idea of creating <i>this</i> competition without participating in some ourselves! So, we would like to thank all the people involved in making these competitions, which introduced <i>us</i> to concepts of cybersecurity and gave us some experience to work with.
						ul
							li
								h4
									<a href="http://picoctf.com/" target="_blank">picoCTF</a>
							li
								h4
									<a href="http://hsctf.com/" target="_blank">HSCTF</a>
							li
								h4
									<a href="http://startctf.com" target="_blank">Start CTF</a>
			section(id='page7')
				div(class='page-container')
					div(class='page-header')
						h2 Contact
					div(class='well')
						p Is something wrong with the competition? Do you need help or have a question? Are you just really really bored? You can contact us in the following ways:
						p 
							h3 Email
						| You can email us at <a href="mailto:team@easyctf.com" target="_blank">team@easyctf.com</a>
						p
							h3 Facebook
						| Shoot us a message at our <a href="http://facebook.com/easyCTF" target="_blank">Facebook Page</a>.
						p 
							h3 IRC
						| Head over to the <a href="javascript:void(0);" target="_blank">chat room</a> to discuss anything you need in real time.

			script.
				$(".tooltipped").tooltip();