extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					div(class='page-header')
						h2 Chat
					div.jumbotron
						center
							iframe(width="840", height="480", style="border:1px solid #999;", src="http://widget00.mibbit.com/?channel=%23easyctf")