extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					center
						div(class='jumbotron page-title')
							h1(style='font-size: 96pt;') Easy CTF
							h4 Another CTF competition for high schoolers, by high schoolers.
							h5
								a(href='http://goo.gl/jmpByq', target='_blank') November 29 to December 6
			section(id='page2')
				div(class='row wrapper page-container')
					div(class='col-xs-6 col-md-3')
						div(class='thumbnail no-border')
							center
								div(class='circle-img-box')
									span(class='mega-octicon octicon-key')
								div(class='caption')
									h3 UNLOCK
									p Find all the secrets and crack all the codes.
					div(class='col-xs-6 col-md-3')
						div(class='thumbnail no-border')
							center
								div(class='circle-img-box')
									span(class='mega-octicon octicon-terminal')
								div(class='caption')
									h3 HACK
									p Hack all the passwords and bypass all the security.
					div(class='col-xs-6 col-md-3')
						div(class='thumbnail no-border')
							center
								div(class='circle-img-box')
									span(class='mega-octicon octicon-mortar-board')
								div(class='caption')
									h3 LEARN
									p Learn all the techniques and master all the tricks.
					div(class='col-xs-6 col-md-3')
						div(class='thumbnail no-border')
							center
								div(class='circle-img-box')
									span(class='mega-octicon octicon-gift')
								div(class='caption')
									h3 WIN
									h4 Capture all the flags!

			section(id='page3')
				div(class='page-container')
					div(class='page-header')
						h2 What is a CTF?
					div(class='well')
						p.
							CTF stands for <b>Capture the Flag</b>. Aside from being a popular physical activity, CTF also refers to a type of computer security competition in which certain pieces of information, called "flags", are placed on servers, encrypted, hidden, or otherwise stored somewhere difficult to access, and the participants try to reverse-engineer, break, hack, decrypt, or anything to capture that flag. When a team submits this flag to a scoring page, they will get points. The challenges are all set up with the intent of being hacked, making it an excellent, legal way to get hands on experience.
			section(id='page4')
				div(class='page-container')
					div(class='page-header')
						h2 Who?
					div(class='well')
						p.
							<b>You!</b> You, you, and you. Anyone who has access to a computer and several of the other materials listed below is encouraged to participate. <i>You don't have to have prior knowledge in computers or programming</i>, although it is recommended. We'll teach you stuff you need to know on the <a href="learn">Learn</a> page.
						p.
							easyCTF is for any high school or college students may also register a team and compete online. Teams should consist of 4 or fewer students, and <i>there is no limit to the number of teams which may compete per school.</i>
			section(id='page5')
				div(class='page-container')
					div(class='page-header')
						h2 What?
					div(class='well')
						p.
							easyCTF is a CTF competition specifically targeted towards high school students. Consequently, questions range from the absolute computer science beginner level to collegiate level. Don't be frustrated if you can't answer the questions: <b>this is a contest; we don't expect you to get every question right.</b></i>
			section(id='page6')
				div(class='page-container')
					div(class='page-header')
						h2 When?
					div(class='well')
						p.
							EasyCTF will take place from November 29, 2014 at 11:00am CST to December 6, 2014 6:00pm CST.
			section(id='page7')
				div(class='page-container')
					div(class='page-header')
						h2 Where?
					div(class='well')
						p.
							The entire contest will take place on the internet. Once the competition starts, contestants will be able to view challenges and submit flags for points by logging in to this website with the username and password they have chosen during registration.
			section(id='page8')
				div(class='page-container')
					div(class='page-header')
						h2 Why?
					div(class='well')
						p.
							We love computer science and we love cybersecurity, and we want others to enjoy it too. easyCTF provides and opportunity for anyone to be able to learn all about computer science and hacking (cybersecurity). Many traditional CTFs are for college students or professionals, but this CTF (and several other CTFs) are designed to be more friendly to those who are just starting out, like in high school.
			section(id='page9')
				div(class='page-container')
					div(class='page-header')
						h2 How?
					div(class='well')
						p.
							In order to play, we expect teams to have:
						ul
							li A modern web browser (<a href="http://google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://firefox.com" target="_blank">Firefox</a>, etc.)
							li A relatively speedy internet connection (so you're able to access the website easily).
							li The ability to install applications, as many of the challenges here will involve using third-party applications.
						p.
							We also recommend that participating teams have at least one member who is generally familiar with:
						ul
							li Web languages (JavaScript, HTML, PHP, etc.)
							li Python
							li Java and C
							li the UNIX command-line, <b>bash</b></li>
						p.
							Finally, remember that <a href="http://google.com" target="_blank"><b>Google</b></a> is your friend! We don't expect you to know everything, and we'd be surprised if you do. This contest is not closed-note, and getting information from the internet is <strike>allowed</strike> encouraged!
			section(id='page10')
				div(class='page-container')
					div(class='page-header')
						h2 More questions?
					div(class='well')
						p.
							Check out our <a href="about">FAQ</a> page.
