doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/pnotify.min.css')
		link(rel='icon', href='/img/easyctf.ico')
		
		meta(charset='utf-8')
		meta(name='keywords', content='easy ctf easyctf high school highschool hacking computer security fun')
		meta(name='description', content='High school hacking competition.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		style.
			.wrapper { margin-left:10%; margin-right:10%; }
	body
		block nav
			nav(class='navbar navbar-default', role='navigation')
				div(class='container-fluid')
					div(class='navbar-header')
						button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-content')
							span(class='sr-only').
								Toggle Navigation
							span
							span
							span
						a(class='navbar-brand', href='/') EasyCTF
					div(class='collapse navbar-collapse', id='navbar-content')
						ul(class='nav navbar-nav')
							li
								a(href='javascript:void(0);') About
						ul(class='nav navbar-nav navbar-right')
							li
								a(href='register') Register
							li
								a(href='login') Login
		
		block content
		
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')