doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/cerulean.min.css')
		link(rel='stylesheet', href='/css/pnotify.min.css')
		link(rel='icon', href='/img/easyctf.ico')
		
		meta(charset='utf-8')
		meta(name='keywords', content='easy ctf easyctf high school highschool hacking computer security fun')
		meta(name='description', content='High school hacking competition.')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:title', content='EasyCTF 2014, High School Hacking Competition')
		meta(property='og:image', content='http://www.easyctf.com/img/easyctf.jpg')
		meta(property='og:site_name', content='EasyCTF')
		
		style.
			.wrapper { margin-left:10%; margin-right:10%; }

	//
		#{group}

	body
		block nav
			nav(class='navbar navbar-default', role='navigation')
				div(class='container-fluid')
					div(class='navbar-header')
						button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-content')
							span(class='sr-only').
								Toggle Navigation
							span
							span
							span
						a(class='navbar-brand', href='/') EasyCTF
					div(class='collapse navbar-collapse', id='navbar-content')
						ul(class='nav navbar-nav')
							li
								a(href='/about') About
							li
								a(href='/scores') Scoreboard
							li
								a(href='/sponsors') Sponsors
							li
								a(href='/learn') Learn
							li
								a(href='/chat') Chat
						ul(class='nav navbar-nav navbar-right')
							if logged
								if group == 3
									li
										a(href='/edit') Edit Problems
								li
									a(href='/md5') MD5
								li
									a(href='/ide') IDE
								li
									a(href='/problems') Problems
								li
									a(href='/profile') My Team
								li
									a(href='/logout') Logout
							else
								li
									a(href='/register') Register
								li
									a(href='/login') Login
		
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/pnotify.min.js')
		script(type='text/javascript', src='/js/easyctf.js')
		
		block content
