doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/octicons/octicons.css')
		link(rel='stylesheet', href='/css/cerulean.min.css')
		link(rel='stylesheet', href='/css/pnotify.min.css')
		link(rel='icon', href='/img/easyctf.ico')

		meta(charset='utf-8')
		meta(name='keywords', content='easy ctf easyctf high school highschool hacking computer security fun')
		meta(name='description', content='High school hacking competition.')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:title', content='#{title}')
		meta(property='og:image', content='http://www.easyctf.com/img/easyctf.jpg')
		meta(property='og:site_name', content='EasyCTF')

		style.
			.wrapper {
				margin-left:10%; margin-right:10%;
			}
			.circle-img-box {
				border-radius: 50%;
				width: 84px;
				height: 84px;
				text-align: center;
				margin: 0 auto;	 
				background-color: #1995DC;
				color: #FFF;
				position: relative;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
				transition: .3s all ease-out;
				-o-transition: .3s all ease-out;
				-ms-transition: .3s all ease-out;
				-moz-transition: .3s all ease-out;
				-webkit-transition: .3s all ease-out;
				cursor: pointer;
			}
			.circle-img-box:hover {
				background-color:#24A5ED;
			}
			.circle-img-box .mega-octicon {
				font-size: 42px;
				position: absolute;
				top: 21px;
				display: block;
				width: 84px;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			}
			.no-border {
				border: none;
			}
			#faq > p {
				margin-bottom: 20px;
			}

	//
		#{group}

	body
		block nav
			nav(class='navbar navbar-default', role='navigation')
				div(class='container-fluid')
					div(class='navbar-header')
						button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-content')
							span(class='sr-only').
								Toggle Navigation
							span
							span
							span
						a(class='navbar-brand', href='/') EasyCTF
					div(class='collapse navbar-collapse', id='navbar-content')
						ul(class='nav navbar-nav')
							li
								a(href='/about') About
							li
								a(href='/scores') Scoreboard
							li
								a(href='/sponsors') Sponsors
							li
								a(href='/learn') Learn
							li
								a(href='/chat') Chat
						ul(class='nav navbar-nav navbar-right')
							if logged
								if group == 3
									li
										a(href='/edit') Edit Problems
								li
									a(href='/md5') MD5
								li
									a(href='/ide') IDE
								li
									a(href='/shell') IDE
								li
									a(href='/problems') Problems
								li
									a(href='/profile') My Team
								li
									a(href='/logout') Logout
							else
								li
									a(href='/register') Register
								li
									a(href='/login') Login

		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/pnotify.min.js')
		script(type='text/javascript', src='/js/easyctf.js')

		block content
