extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						div(class='page-header')
							h2 Team
					else
						div(class='alert alert-danger').
							<b>Error:</b> You must be logged in to view this page!