extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if team
						div(class='page-header')
							table(style='width:100%;')
								tr
									td
										h1 <b>#{team.teamname}</b>
									if logged
										td(style='text-align:right;')
											a(href='/settings') Account Settings &raquo;
						div.wrapper
							div.well
								div.form-group
									b.col-lg-2 Affiliation
									p.col-lg-5 #{team.school}
							div.page-header
								h2 Solves
					else
						div(class='alert alert-danger').
							<b>Error:</b> No profile found here.