extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						div(class='page-header')
							table(style='width:100%;')
								tr
									td
										h2 Team
									td(style='text-align:right;')
										a(href='/settings') Account Settings &raquo;
					else
						if no
							div(class='alert alert-danger').
								<b>Error:</b> No account was found with that ID.
						else
							if team
								div(class='page-header')
									h2 <b>#{team.teamname}<b>
							else
								div(class='alert alert-danger').
									<b>Error:</b> You must be logged in to view this page!