extends layout

block content
	- var users = objs;
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					div(class='page-header')
						h2 Public Scoreboard
					table(class='table table-hover table-striped')
						thead
							th Rank
							th Team Name
							th School
							th Points
						- for (var i=0; i<users.length; i++) {
							tr
								td users[i]
						- }