extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						div(class='page-header')
							h2 Account Settings
						div.well.col-lg-7
							form.form-horizontal(action='javascript:updateInfo()')
								fieldset
									legend Basic Account Stuff
									div.form-group
										label.col-lg-3.control-label(for='account-name') Team Name
										div.col-lg-8
											input.form-control#account-name(type='text', name='account-name', placeholder='Team Name', value='#{teamname}')
									div.form-group
										label.col-lg-3.control-label Email<br /><small>Sorry, can't change this.</small>
										div.col-lg-8
											input.form-control(type='text', disabled, value='#{email}')
									div.form-group
										label.col-lg-3.control-label(for='account-school') School / Affiliation
										div.col-lg-8
											input.form-control#account-school(type='text', name='account-school', placeholder='School / Affiliation', value='#{school}')
									div.form-group
										label.col-lg-3.control-label(for='account-password') New Password<br /><small>Leave blank to leave unchanged.</small>
										div.col-lg-8
											input.form-control#account-password(type='password', name='account-password', placeholder='New password')
								fieldset
									legend Type your Password to Confirm
									div.form-group
										label.col-lg-3.control-label(for='account-confirm') Confirm Changes
										div.col-lg-8
											input.form-control#account-confirm(type='password', name='account-confirm', placeholder='Confirm changes')
									div.form-group
										label.col-lg-3.control-label(for='account-submit')
										div.col-lg-8
											input.btn.btn-primary#account-submit(type='submit', name='account-submit', value='Update Account')
						script.
							var updateInfo = function() {
								$("[id^=account-]").attr("disabled", "disabled");
								$.ajax({
									url: "/settings/update.ajax",
									type: "POST",
									dataType: "json",
									data: {
										teamname: $("#account-name").val(),
										school: $("#account-school").val(),
										password: $("#account-password").val(),
										confirm: $("#account-confirm").val(),
									},
									success: function(content) {
										console.dir(content);
										if (content.errors.length > 0) {
											var message = "You still need to check the following things:<ul>";
											for(var i=0;i<content.errors.length;i++) {
												message += "<li>"+content.errors[i]+"</li>";
											}
											new PNotify({
												title: "Whoops",
												text: message,
												type: "warning",
												nonblock: {
													nonblock: true,
													nonblock_opacity: 0.25,
												},
											});
											$("[id^=account-]").removeAttr("disabled");
										} else {
											new PNotify({
												title: "Whoops",
												text: "Congratulations! Your info has been updated.",
												type: "success",
												nonblock: {
													nonblock: true,
													nonblock_opacity: 0.25,
												},
											});
										}
									},
									error: function() {
										new PNotify({
											title: "Whoops",
											text: "Something went wrong when trying to update your info.",
											type: "error",
											nonblock: {
												nonblock: true,
												nonblock_opacity: 0.25,
											},
										});
										$("[id^=account-]").removeAttr("disabled");
									}
								});
							};
					else
						div(class='alert alert-danger').
							<b>Error:</b> You must be logged in to view this page!