extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					div(class='page-header')
						h2 Sponsors
					div(class='well')
						p.
							<b>Interested in sponsoring?</b> Contact us at <a href="mailto:1023bytes@gmail.com" target="_blank">1023bytes@gmail.com</a>