extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					div(class='page-header')
						h2 Reset your Password
					if logged
						div(class='alert alert-info').
							<b>LOL</b> You're already signed in, silly!
					else
						div(class='well col-lg-7')
							div
								form(class='form-horizontal', action='javascript:dispatch();')
									fieldset
										legend Change Password
										div(class='form-group')
											label(for='verify-code' class='col-lg-3 control-label') Code
											div(class='col-lg-8')
												input(type='text', class='form-control', name='-verify-code', id='-verify-code', placeholder='Code', value='#{code}', disabled)
										div(class='form-group')
											label(for='verify-password1' class='col-lg-3 control-label') Password
											div(class='col-lg-8')
												input(type='password', class='form-control', name='verify-password1', id='verify-password1', placeholder='Password', autofocus='on')
										div(class='form-group')
											label(for='verify-password2' class='col-lg-3 control-label') Confirm Password
											div(class='col-lg-8')
												input(type='password', class='form-control', name='verify-password2', id='verify-password2', placeholder='Confirm Password', autofocus='on')
										div(class='form-group')
											label(class='col-lg-3 control-label')
											div(class='col-lg-7')
												button(class='btn btn-default', id='verify-btn', onClick='javascript:dispatch(); return false;') Change Password
			script.
				var dispatch = function() {
					$("[id^=verify-]").attr("disabled", "disabled");
					$.ajax({
						url: "/reset-password",
						dataType: "json",
						data: {
							code: $("#-verify-code").val(),
							p1: $("#verify-password1").val(),
							p2: $("#verify-password2").val(),
						},
						type: "POST",
						success: function(content) {
							if (content.ret == 1) {
								new PNotify({
									title: "Success!",
									text: "Your password has been changed!",
									type: "success",
									nonblock: {
										nonblock: true,
										nonblock_opacity: 0.25,
									},
								});
								setTimeout(function() {
									window.location.href = "/login";
								},2000);
							} else {
								if (content.ret == -1) {
									new PNotify({
										title: "What?",
										text: "Check your passwords; they don't match",
										type: "warning",
										nonblock: {
											nonblock: true,
											nonblock_opacity: 0.25,
										},
									});
								} else if (content.ret == -2) {
									new PNotify({
										title: "Hmmmm....",
										text: "Didn't find a password reset ticket for this code.",
										type: "warning",
										nonblock: {
											nonblock: true,
											nonblock_opacity: 0.25,
										},
									});
								} else if (content.ret == -3) {
									new PNotify({
										title: "Whoops",
										text: "lol something went wrong on our side, try again or send us an email.",
										type: "warning",
										nonblock: {
											nonblock: true,
											nonblock_opacity: 0.25,
										},
									});
								} else if (content.ret == -4) {
									new PNotify({
										title: "Get another code?",
										text: "That code has been used or has expired.",
										type: "warning",
										nonblock: {
											nonblock: true,
											nonblock_opacity: 0.25,
										},
									});
								}
								$("[id^=verify-]").removeAttr("disabled");
							}
						},
						error: function() {
							new PNotify({
								title: "Whoops",
								text: "Something went wrong when trying to change your password.",
								type: "error",
								nonblock: {
									nonblock: true,
									nonblock_opacity: 0.25,
								},
							});
							$("[id^=verify-]").removeAttr("disabled");
						}
					});
				};