doctype html
html
	head
		meta(charset="utf-8")
		title POST-it!

	body
		span Wrong <code>POST</code> values:
		ul
			li <code>user</code> must be <code>admin</code>
			li <code>request</code> must be <code>flag</code>