@font-face {
  font-family: "Singularity";
  src: url(../fonts/singularity.ttf) format("TrueType"); }

.singularity-font {
  font-family: "Singularity"; }

body {
  background-color: #96291B; }

.title {
  display: none;
  font-family: "Singularity";
  color: #FFF;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }
  .title .easyctf .primary {
    position: absolute;
    top: 0;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    font-family: "Singularity";
    font-size: 86px;
    text-align: center;
    letter-spacing: 0.05em; }
  .title .easyctf .shadow-right {
    text-shadow: 4px 0px 1px #000; }
  .title .easyctf .shadow-bottom {
    text-shadow: 0px 4px 1px #000; }
  .title .easyctf .shadow-diagonal {
    text-shadow: 4px 4px 1px #000; }
  .title .singularity .primary {
    position: absolute;
    top: 72px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    font-family: "Singularity";
    font-size: 61px;
    text-align: center;
    letter-spacing: 0.05em; }
  .title .singularity .shadow-right {
    text-shadow: 4px 0px 1px #000; }
  .title .singularity .shadow-bottom {
    text-shadow: 0px 4px 1px #000; }
  .title .singularity .shadow-diagonal {
    text-shadow: 4px 4px 1px #000; }

.media .robot {
  width: 250px; }
.media .video {
  position: relative; }

.details {
  padding-top: 25px; }
  .details .play {
    background-color: #821e11;
    color: #FFF;
    font-family: "Singularity";
    font-size: 48px;
    padding: 10px 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

@media screen and (max-width: 480px) {
  .title {
    width: 100%;
    height: 110px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 336px;
      height: 189px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (max-width: 480px) {
  .title {
    display: block;
    width: 100%;
    height: 100px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 336px;
      height: 189px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 480px) {
  .title {
    display: block;
    width: 100%;
    height: 100px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 448px;
      height: 252px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 640px) {
  .title {
    display: block;
    width: 100%;
    height: 100px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 560px;
      height: 315px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 768px) {
  .title {
    display: block;
    width: 768px;
    height: 100px; }

  .media {
    padding-top: 55px; }
    .media .video {
      width: 672px;
      height: 398px;
      margin-left: auto;
      margin-right: auto; } }
/* < 480, > 640, > 768, > 1024, > 1280, > 1440 */
