@font-face {
  font-family: "Singularity";
  src: url(../fonts/singularity.ttf) format("TrueType"); }
.singularity-font {
  font-family: "Singularity"; }

body {
  background-color: #96291B; }

.title {
  display: none;
  font-family: "Singularity";
  color: #FFF;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }
  .title .easyctf .primary {
    position: absolute;
    top: 0;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    font-family: "Singularity";
    font-size: 86px;
    text-align: center;
    letter-spacing: 0.05em; }
  .title .easyctf .shadow-right {
    text-shadow: 4px 0px 1px #000; }
  .title .easyctf .shadow-bottom {
    text-shadow: 0px 4px 1px #000; }
  .title .easyctf .shadow-diagonal {
    text-shadow: 4px 4px 1px #000; }
  .title .singularity .primary {
    position: absolute;
    top: 72px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    font-family: "Singularity";
    font-size: 61px;
    text-align: center;
    letter-spacing: 0.05em; }
  .title .singularity .shadow-right {
    text-shadow: 4px 0px 1px #000; }
  .title .singularity .shadow-bottom {
    text-shadow: 0px 4px 1px #000; }
  .title .singularity .shadow-diagonal {
    text-shadow: 4px 4px 1px #000; }

.media {
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }
  .media .robot {
    display: none;
    width: 250px;
    margin-left: auto;
    margin-right: 0; }
  .media .video {
    position: relative; }

.details {
  padding-top: 25px; }
  .details .play {
    background-color: #821e11;
    color: #FFF;
    font-family: "Singularity";
    font-size: 48px;
    padding: 10px 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

@media screen and (max-width: 480px) {
  .title {
    width: 100%;
    height: 110px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 336px;
      height: 189px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (max-width: 480px) {
  .title {
    display: block;
    width: 100%;
    height: 100px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 336px;
      height: 189px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 480px) {
  .title {
    display: block;
    width: 100%;
    height: 100px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 448px;
      height: 252px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 640px) {
  .title {
    display: block;
    width: 100%;
    height: 125px; }
    .title .easyctf .primary {
      font-size: 108px;
      width: 500px;
      margin-left: -250px; }
    .title .singularity .primary {
      top: 86.4px;
      font-size: 77px;
      width: 500px;
      margin-left: -250px; }

  .media {
    padding-top: 45px; }
    .media .video {
      width: 448px;
      height: 252px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 768px) {
  .title {
    display: block;
    width: 768px;
    height: 170px; }
    .title .easyctf .primary {
      font-size: 145px;
      width: 550px;
      margin-left: -250px; }
    .title .singularity .primary {
      top: 115.2px;
      font-size: 104px;
      width: 550px;
      margin-left: -250px; }

  .media {
    padding-top: 55px; }
    .media .video {
      width: 448px;
      height: 252px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 1440px) {
  .title {
    display: block;
    width: 1440px;
    height: 180px; }
    .title .easyctf .primary {
      top: -125px;
      font-size: 276px;
      width: 1024px;
      margin-left: -512px; }
    .title .singularity .primary {
      top: 86.4px;
      font-size: 198px;
      width: 1024px;
      margin-left: -512px; }

  .media {
    width: 1024px;
    padding-top: 145px; }
    .media .robot {
      display: inline; }
    .media .video {
      width: 560px;
      height: 315px;
      margin-left: 0;
      margin-right: auto; }

  .details {
    padding-top: 50px; } }
/* < 480, > 640, > 768, > 1024, > 1280, > 1440 */

/*# sourceMappingURL=landing.css.map */
