/* Nav.scss */
@font-face {
    font-family: "Singularity";
    src: url(../fonts/singularity.ttf) format("TrueType");
}

$font: "Singularity";

nav {
    width: 100%;
    max-width: 1024px;
    
    margin-left: auto;
    margin-right: auto;
    
    ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
 
        li {
            list-style: none;
            float: left;
            text-align: center;
            background-color: #821e11;
            /* border-left: 1px solid #96291B; */
            /* border-right: 1px solid #96291B; */
            width: 25%; /* fallback for non-calc() browsers */
            width: calc(100% / 4);
            box-sizing: border-box;
            
            a {
                display: block;
                text-decoration: none;
                color: #FFF;
                text-align: center;
                font-family: $font;
                font-size: 36px;
                padding: 10px 0;
            }
        }
        
        li:first-child {
            border-left: none;
        }
 
    }
}
