/* FRONT.CSS */
@font-face {
    font-family: "Rodus";
    src: url("../fonts/Rodus/RODUSsquare100.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Rodus";
    src: url("../fonts/Rodus/RODUSsquare300.otf") format("opentype");
    font-weight: 300;
}


@font-face {
    font-family: "Rodus";
    src: url("../fonts/Rodus/RODUSsquare500.otf") format("opentype");
    font-weight: 500;
}

html {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: #ecf0f1;
    color: #000;
}

.rodus {
    font-family: "Rodus";
    font-weight: 300;
}

.triangle {
    width: 0;
    height: 0;
    
    border-left: 960px solid transparent;
	border-right: 960px solid transparent;
	border-top: 100px solid #59ABE3;
}

.easyctf-badge {
    position: absolute;
    
    top: 0;
    left: 50%;
    
    width: 480px;
    height: 140px;
    
    margin-left: -240px;
    background-color: #19B5FE;
    text-align: center;
}

.easyctf-badge-extension {
    position: absolute;
    
    top: 140px;
    left: 50%;
    
    width: 380px;
    height: 140px;
    
    margin-left: -240px;
    
    border-top: 25px solid #19B5FE;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

.easyctf-badge .rodus {
    color: #FFF;
    font-size: 72px;
}