#title {
	position: relative;
	top: 13%;
	text-align: center;
	font-size: 96pt;
    color:;
    
}

#title-description {
	position: relative;
	top: 16%;
	text-align: center;
	font-size: 48pt;
    font-weight: 100;
}

#title-date {
	position: relative;
	top: 19%;
	text-align: center;
	font-size: 24pt;
}

#title-date small {
  color: #000;
}


body{
    background-image: url("back.png");
    
}

::selection {
  background: 	#FF6600; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: 	#FF6600; /* Gecko Browsers */
  color: #FFF;
}



#consolcontain{
    width:800px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
        background:  rgba(67,67,67,0.8);  
    border-radius: 6px;
    padding-bottom: 0.5%;

}
    

#bar{
    height:25px;
 
    border-bottom: rgba(67,67,67,0.25) 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    
    
}

#fakeconsol{
 background-color: black;
    height:500px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: "Lucida Console", Monaco, monospace;
    color:lime;
    padding: 4px;
    
    
    
}



/*
#containE{
    width: 100%;
    height:auto;
    
    
}

#E{
    
    margin-left: auto;
    margin-right: auto;
    background-image: url("E.png");
    height:500px;
    width:500px;
    margin-bottom: -5%;
    margin-top: auto;
    
    
    
} */
