@media screen and (max-width: 480px) {
  #title {
    font-size: 48pt;
  }
  #title-description {
    font-size: 24pt;
  }
  #title-date {
    font-size: 12pt;
  }
}

@media screen and (min-width: 480px) {
  #title {
    font-size: 56pt;
  }
  #title-description {
    font-size: 28pt;
  }
  #title-date {
    font-size: 14pt;
  }
}

@media screen and (min-width: 768px) {
  #title {
    font-size: 64pt;
  }
  #title-description {
    font-size: 32pt;
  }
  #title-date {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1440px) {
  #title {
    font-size: 96pt;
  }
  #title-description {
    font-size: 48pt;
  }
  #title-date {
    font-size: 24pt;
  }
}

#title {
  position: relative;
  top: 13%;
  text-align: center;

}

#title-description {
  position: relative;
  top: 16%;
  text-align: center;
    font-weight: 100;
}

#title-date {
  text-align: center;
}

#title-date small {
  color: #000;
}

body{
    background-image: url("back.png");
    
}

::selection {
  background:   #FF6600; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background:   #FF6600; /* Gecko Browsers */
  color: #FFF;
}

.main {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
    
    

/*
#containE{
    width: 100%;
    height:auto;
    
    
}

#E{
    
    margin-left: auto;
    margin-right: auto;
    background-image: url("E.png");
    height:500px;
    width:500px;
    margin-bottom: -5%;
    margin-top: auto;
    
    
    
} */