#title {
	position: relative;
	top: 13%;
	text-align: center;
	font-size: 96pt;
    color:;
    
}

#title-description {
	position: relative;
	top: 16%;
	text-align: center;
	font-size: 48pt;
    font-weight: 100;
}

#title-date {
	position: relative;
	top: 19%;
	text-align: center;
	font-size: 24pt;
}


body{
    background-image: url("back.png");
    
}

::selection {
  background: 	#FF6600; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: 	#FF6600; /* Gecko Browsers */
  color: #FFF;
}
    
    

/*
#containE{
    width: 100%;
    height:auto;
    
    
}

#E{
    
    margin-left: auto;
    margin-right: auto;
    background-image: url("E.png");
    height:500px;
    width:500px;
    margin-bottom: -5%;
    margin-top: auto;
    
    
    
} */
