extends layout

block content
  div
    h2 Welcome to the Home Page of the Institute of Technological Incompetence!
    p.
      We pride ourselves in our technological incompetence, as our name suggests. Please feel free to add your thoughts on our amazing website!
    h2 News
    div(style='width:95%;margin:auto;border:1px solid #999;')
      h4 Evidence-Based Reporting
      p.
        We're proud to announce that starting this 2014-2015 academic year, all of our classes have adopted the new evidence-based reporting style of grading. If you want more information about this, feel free to contact our academic coordinator, <a href='mailto:spants@iti.edu' target='_blank'>Mr. Smart E. Pants</a>.
      h4 Combined Portal
      p.
        Teachers will now use the same portal as students do. Remember that your login ID is just your first initial and your last name. If you need help logging in or forget your password, see the technology director in office 3A of the main office.
      h4 New Website!
      p.
        Our web-design team has worked very hard this summer, and has put together this amazing website. If you are having trouble with the website, or have something to add, please contact the web-design team's sponsor, <a href='mailto:crispebacon@iti.edu' target='_blank'>Mr. Crisp E. Bacon</a>.
