html
  head
    title= title
  body
    div
      center
        img(src='/sites/iti/img/logo.png', width='250', height='250')
        h1 Institute of Technological Incompetence
        p
          a(href='/sites/iti/index.php') Home
          | &nbsp;|&nbsp;
          a(href='/sites/iti/faculty.php') Faculty
          | &nbsp;|&nbsp;
          a(href='/sites/iti/honor.php') Honor Roll
          | &nbsp;|&nbsp;
          a(href='/sites/iti/login.php') Portal
        hr(width='75%')
    div(style='width:65%;margin:auto;')
      block content
